
* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #c22131;
}


h2 {
    margin: 20px 10px;
}


a {
    text-decoration: none;
}


img {
    width: 100%;
}



#colorfondo2 {
    background-color: #ffc4a9;
    margin: 20px 10px;
}

#colorfondo1 {
    background-color: #ffc4a9;
    margin: 20px 10px;
}

.enLinea li {
    display: inline;
    margin: 10px;
}



.whatsapp {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 0;
    right: 20px;
}


#fondonegro {
    background-color: black;
    margin-top: 50px;
}


#fincamielera {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#mielpura {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/*SEGUNDA PRE ENTREGA*/

.navbar-imglogo {
    width: 40px;
    height: 40px;
}

.footer__img {
    height: 50px;
    width: 50px;
}

.recetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (min-width: 768px) {    
    #grilla {
        display: grid;
        grid-template-areas: 
        "descubrir mielpura";
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
    }
    img {
        width: 100%;
        height: 300px;
    }    
    #grilla2 {
        display: grid;
        grid-template-areas: 
        "comentarios redes";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }    
    footer {
        align-self: self-end;
    }    
}

@media (min-width: 768px) {    
    #todaslasrecetas {
        display: grid;
        grid-template-areas: 
        "recetauno recetados";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: start;
    }    
    .galletitas {
        grid-area: recetauno;
    }    
    .otrareceta {
        grid-area: recetados;
    }
}